/**
 * base-header.less - 页头容器组件样式
 * =============================================================
 * Created By: Yaohaixiao
 * Update: 2022.10.8
 */
.base-header {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}

.base-header--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: auto;
  align-items: center;
}
